

.grid-area-workarea_name {
    grid-area: workarea_name;
}

.grid-select-message-toggle {
    grid-area: message_toggle;
    height: 100%;
}

.grid-current-messenger-name {
    grid-area: current_messenger_name;
}

.grid-message-control{
    grid-area: message_control;
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
    justify-content: space-between;
}

.primary-display-grid {
    display: grid;
    grid-template-areas: 
        'workarea_name current_messenger_name'
        'message_toggle message_control';
    grid-template-columns: 180px 1fr;
    grid-template-rows: 50px 1fr;
    height: calc(100% - 36px);
        
}

.side-bar {
    background-color: #3F0E40;
    border-color: rgb(82, 38, 83);
}

