
.new-dm-form-container{
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    width: 100%;
    min-height: 50px;
    --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
    background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
 
    box-shadow: 0 1px 0 0 var(--saf-0), 0 4px 12px -2px #00000014;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 0 20px;
    z-index: 1;
}

.user-profile-dm-search-container{
    display: flex;
    /* padding: 0 2px; */
    background-color: #1D9BD11A;
    border-radius: 4px;
    border: none;
    align-items: center;
    justify-content: left;
    max-width: fit-content;
}

.font-align{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.marign-top-adjustment{
    margin-top: 13px;
}

.cancel-small-x{
    /* margin-left: 5px; */
    color: grey;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-user-query:hover{
    background-color: #a7534d;
    text-decoration: line-through;
}

.to-new-dm{
    line-height: 52px;
    z-index: 1;
    font-size: 15px;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    color: #616061;
    padding-right: 26px;
}
.to-container-search-new{
    width: 20px;
}

.new-dm-search-container{
    width: 100%;
    max-height: 600px;
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    outline: none;
    /* background-color: aqua; */
    padding: 0 4px 4px;
}

.error-query-container{
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38461538;
    border: 1px solid #e8912d66;
    border-radius: 4px;
    background-color: #E8912D1A;
    color: #1d1C1d;
    padding: 8px 16px;
    word-break: break-word;
        flex-basis: 100%;
        margin: 8px 0 0 5px;
}

.user-search-spacer-span{
    font-size: 0;
    -webkit-user-select: none;
    user-select: none;
    width: 0;
    padding: 0 3px;
}
.user-query-container{
    height: auto;
}
.user-query-input{
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    font-size: 15px;
    border: none;
    height: 80%;
}

.user-query-input:focus{
    outline: none;
}

.search-results-parent-container{
    width: 100%;
    
    background-color: transparent;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.result-container{
    height: auto;
    max-height: 264px;
    /* padding: 0 25px; */
    width: 100%;
    border: none;
    border-radius: 4px;
    background: white;
    box-shadow: 0 15px 20px 5px rgba(146, 145, 145, 0.9);
    overflow-y: auto;
    overflow-x: none;
}
.result-container::-webkit-scrollbar {
    scrollbar-width: thin;
    background: none;
    width: 10px;
    height: 40px;
}

.result-container::-webkit-scrollbar-thumb {
    background: #1d1c1d85;
    border-radius: 10px;
    cursor: default;
    left: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 10px;
    will-change: transform;
    z-index: 1;
    height: 106.605px;
    transform: translateY(167px);


    transform: translateY(111px);
}

.profile-container-user-search-dm {
    display: flex;
    padding: 5px 0;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    /* width: 100%; */
    /* margin-left: 10px; */
}

.marign-add-new-dm-search{
    margin-left: 20px;
}

.profile-container-user-search-dm:hover {
    cursor: pointer;
    background-color: #1264A3;
    color: white;
}

.color-div-icon{
    background-color: #876a89;
    color: white;
    padding-top: 3px;
    width: 25px;
        height: 25px;
        font-size: 12px;
        border-radius: 4px;
        text-align: center;
}

#person-icon{
    font-size: 100px;
}
#user-newdm-searc-name-font{
    font-size: 15px;
    font-weight: bold;
}