.create-pod-form-container{
    background-color: #FFFF;
    border-color: #454245;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
}

.form-item-padding{
    /* width: 100%; */
    padding: 10px 14px;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
}

.no-other-members-msg{
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
}

.create-input-style{
    /* background-color: ; */
    border: none;
    background-color: rgb(229, 233, 236);
    border-radius: 10px;
        opacity: 0.5;
        resize: none;
    color: rgb(0, 0, 0);
    padding: 0 4px;
}

.create-input-style::placeholder{
    color: rgb(51, 49, 49);
    padding-left: 3px;
}

.create-input-style:focus{
    /* outline: rgb(160, 79, 236); */
    outline: none !important;
        border: 1px solid #3d035a;
        box-shadow: 0 0 10px #3d035a;
}

.description-container{
    display: flex;
    height: 100px;
    width: 100%;
}

.description-child-container{
    width: 100%;
}

.private-and-public-container {
    font-size: 15px;
    /* color: rgb(160, 79, 236); */
    color: #3d035a;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.hover{
    cursor: pointer;
}

.member-name-label:checked{
    color: #FFFF;
    background-color: rgb(168, 100, 232);
}

.create-pod-btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px#3d035a;
    margin-bottom: 5px;
    opacity: 0.75;
}

.create-pod-btn:active{
    box-shadow: 0 0 10px rgb(18, 2, 32);
    
    color: #FFFF;
    background-color: rgb(41, 5, 75);
}

.user-selection-container {
    height: 200px;
}

.user-selection-container{
    display: flex;
    width: 100%;
    /* align-items: ; */
    flex-direction: column;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.user-name:hover{
    cursor: pointer;
}


.user-name>input[type='radio'] {
    display: none;
    
}

input[type='radio']:checked~#member-name-label {
    background-color: rgb(96, 194, 96);
}

#add-user-to-new-pod{
    padding: 10px;
    cursor: pointer;
}

.user-name{
    /* display: flex; */
    font-size: 10px;
    /* width: 8rem;  */
    /* width: 2rem;
    height: 2rem; */
    text-align: center;
    justify-content: left;
    
    /* padding: 0px 4px; */
    /* margin-right: 10px; */
    margin-top: 2px;
    text-align: center;
    /* border-radius: 4px; */
    /* color: #FFFF; */
    /* border: 1px solid rgb(146, 77, 152); */
    /* background-color: rgb(146, 77, 152); */
}







/* input.member-name-checked:checked {
    
    border: 1px solid rgb(51, 8, 46);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;

}
.member-name-checked input[type="checkbox"]:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 3px;
    transition: 0.3s;
} */

#create-pod-name{
    font-size: x-large;
    font-size: bold;
    /* color: rgb(160, 79, 236); */
    color: #3d035a;
}

#description-style{
    /* height: 10px; */
    height: 100%;
    width: 100%;
    overflow-y: auto;
    word-break: break-all;
    overflow-wrap: break-word;
}

#rotate-arrow-to-private{
    transform: rotate(180deg) translateY(0);
    transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
}

#rotate-arrow-to-public {
    transform: rotate(360deg) translateY(0);
    transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
}

#private {
    display: none;
}

#private:checked + label{
    /* text-decoration: underline; */
    text-shadow: 0 0 10px rgb(160, 79, 236);
    color: rgb(125, 194, 102);
}

#public {
    display: none;
}

#public:checked+label {
    /* text-decoration: underline; */
    text-shadow: 0 0 10px rgb(160, 79, 236);
    color: rgb(125, 194, 102);
}

.member-name{
    height: 50px;
    /* display: none; */
}

#member-name-label{
    width: 50%;
    text-align: left;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    font-size: 15px;
    margin: 5px 0;
    padding: 0 4px;
   
    background-color: rgb(167, 115, 167);
    color: #FFFF;
    border: none;
    border-radius: 6px;


}
