.profile-modal-background {
    /* background-color: red; */

    position: absolute;
    left: 1100px;
    top: 42px;
    outline: none;

    --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
    background-color: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
    border-radius: 6px;
    box-shadow: 0 0 0 1px var(--saf-0), 0 4px 12px 0 #0000001f;
    max-height: calc(100vh - 62px);
    max-width: 360px;
    min-width: 200px;
    overflow-y: auto;
    padding: 0.1px 0;
    -webkit-user-select: none;
    user-select: none;
    width: 300px;
}

.profile-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-model-seperator_li {
    line-height: 24px;
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
}

.font-profile-modal{
    /* font-size: 15px; */
    font-family: Slack-Lato,
        Slack-Fractions,
        appleLogo,
        sans-serif;
}

.profile-model-seperator_hr {
    border-bottom: 0;
    border-top: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), .13);
    margin: 0;
    width: 300px;
    clear: both;
}

#signout {
    cursor: pointer;
}
/* hr {
    display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
} */