.inside-workarea {
    background: #350d36;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    position: relative;
    min-width: 0;
    z-index: 203;

    grid-area: p-top_nav;
        grid-row-start: p-top_nav;
        grid-column-start: p-top_nav;
        grid-row-end: p-top_nav;
        grid-column-end: p-top_nav;
    
}

.profile-icon-container {
    align-items: center;
    display: flex;
    /* flex: 0.25 0.25 0; */
    justify-content: flex-end;
    position: relative;
}

.outside-workarea {
    height: 80px;
    /* background-color: transparent; */
    background-color: #4a154b;
    z-index: 1000;
    border-bottom: none;
    top: 0;
    position: absolute;
    width: 100%;
}

.outside-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 76.875rem;
    padding: 0;
}

.entry-btns {
    /* background-color: burlywood; */
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
    min-width: 10rem;
}

.btn-padding_outside {
    margin-top: 1.5rem;

}

.binslogo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#logo-img {
    height: 3rem;
    width: 3rem;
    /* margin-bottom: 4rem; */
}


#top-searchbar{
    display: flex;
    flex: 2;
    max-width: 732px;
    min-width: 0;
    position: relative;
}

#search-input {
    width: 100%;
}

#outside-font {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#logo-title {
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
}
