.inside-workarea {
    background: #350d36;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    position: relative;
    min-width: 0;
    z-index: 203;
    padding: 5px 0;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    /* grid-area: p-top_nav;
        grid-row-start: p-top_nav;
        grid-column-start: p-top_nav;
        grid-row-end: p-top_nav;
        grid-column-end: p-top_nav; */
    
}

.profile-icon-container {
    align-items: center;
    display: flex;
    /* flex: 0.25 0.25 0; */
    justify-content: flex-end;
    position: relative;
}

.clock-styles{
    color: white; 
    /* margin-right: 10px; */
}

.outside-workarea {
    height: 80px;
    background-color: transparent;
    /* background-color: #4a154b; */
    z-index: 1000;
    border-bottom: none;
    top: 0;
    position: absolute;
    width: 100%;
    
}



.main-search-bar-container{
    display: flex;
        flex: 2;
        max-width: 732px;
        min-width: 0;
        position: relative;
        align-items: center;
        justify-content: space-between;
    /* padding-left: 20px; */
}

.outside-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 76.875rem;
    padding: 0;
    
}

.entry-btns {
    /* background-color: burlywood; */
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
    min-width: 10rem;
}

.btn-padding_outside {
    margin-top: 1.5rem;

}

.search-wa-btn-text{
    display: block;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.38463;
        /* margin-right: auto; */
        overflow: hidden;
        /* padding-right: 12px; */
        text-overflow: ellipsis;
        white-space: nowrap;
    margin-right: 0;
        padding-left: 8px;
        padding-right: 44px;
}

.clock-icon-container{
    /* padding-right: 25px; */
    /* position:fixed;
    left: 67vh; */
    align-items: center;
    display: flex;
    /* flex: 1; */
    justify-content: flex-end;
    /* min-width: 128px; */
    padding-left: 16px;
    padding-right: 20px;
}

.binslogo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.profile-container{
    /* flex: 2; */
    /* min-width: 0px;
    max-width: 500px; */
    
    /* display: flex;
    align-items: center;
    justify-content: right; */
    position: absolute;
    right: 0;
    margin-right: 15px;

}



#logo-img {
    height: 3rem;
    width: 3rem;
    /* margin-bottom: 4rem; */
}


#top-searchbar{
   width: 100%;
   height: 100%;
}

#search-input {
    width: 100%;
}

#outside-font {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#logo-title {
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
}

#search-input-btn{
    cursor: pointer;
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    flex: 5;
    max-width: 732px;
    min-width: 0;
    padding: 0 8px;
        box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 #00000014;
        -webkit-app-region: no-drag;
}

#search-input-btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}



