/* TODO Add site wide styles */
/* body::-webkit-scrollbar {
    width: 12px;
    width of the entire scrollbar */

/* body::-webkit-scrollbar{
    background: orange;
    color of the tracking area */
 
/* body {
    -webkit-font-smoothing: antialiased;
} */

@font-face {
    font-family: "Slack-Lato";
    src: url("./utils/fonts/lato-regular-d9ce515.woff2");
}

@font-face {
    font-family: "Slack-icon";
    src: url("./utils/fonts/slack-icons-v2-fe043a5.woff2");
}

@font-face {
    font-family: "Slack-Lato-bold";
    src: url("./utils/fonts/lato-bold-4b1dc11.woff2");
}

@font-face {
    font-family: "Slack-Larsseit";
    src: url(./utils/fonts/lato-black-b64f5e4.woff2);
}

#root{
    height: 100vh;
    width: 100vw;
}