.MessageList {
    flex: 0.75;
    flex-grow: 0.75;
}
.message-list {
    
    overflow-y: scroll;
    /* margin-top: 60px; */
    overflow-x: hidden;
    position:-webkit-sticky;
    /* bottom: 100px; */
    /* min-height: 60px; */
    /* height: 80vh; */
    height: 70vh;
    /* padding-bottom: 20px; */
    /* padding-block-end: 10px; */
    /* max-height: fit-content; */    
}

.message-list::-webkit-scrollbar {
    scrollbar-width: thin;
    background: none;
    width: 10px;
    height: 40px;
}

.message-list::-webkit-scrollbar-thumb {
    background: #1d1c1d85;
    border-radius: 10px;
    cursor: default;
    left: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 10px;
    will-change: transform;
    z-index: 1;
        height: 106.605px;
            transform: translateY(167px);
        

    transform: translateY(111px);
}

#message-bottom {
    padding-bottom: 20px;
}


.date-hr-container{
    display: flex;
    align-items: center;

}



.date-msg{
    border:none;
    --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
    box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 #00000014;
    font-size: 13px;
    height: 28px;
    line-height: 27px;
    padding: 0 16px;
    pointer-events: all;
    z-index: 2;
    background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
    border-radius: 24px;
    display: inline-block;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    font-weight: bold;
    color: #1D1C1D;
    margin-top: 3px;
}