.message-container {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
 
}

.profile-icon {
    background-size: 100%;
    height: 36px;
    width: 36px;
    border: none;
    margin-right: 5px;
    border-radius: 4px;
}

.author-time-body {
    flex: 1 1 0;
    margin: -12px -8px -16px -16px;
    min-width: 0;
    padding: 8px 8px 8px 16px;
    /* margin-left: 2px; */
}

.author-time {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.author-name {
    font-weight: 900;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    text-align: justify;
    margin-right: 8px;
    /* margin-top: auto; */
}

.timestamp {
    color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
    font-size: 12px;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    text-align: center;
    margin-top: 2px;
}

.message-body {
    font-size: 15px;
    text-align: left;
    user-select: text;
    word-wrap: break-word;
    --saf-0: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    display: flex;
    max-width: none;
    padding-bottom: 3px;
}

.edit-and-delete-container {
    /* margin-right: 20px; */
    /* display: none; */
    cursor: pointer;
}

.edit-msg-form{
    width: 100%;
    background-color: white;
}
.edit-and-delete-container:hover {
    display: block;
}

.edit-icon-container{

}

.edit-background-color{
    background-color: #f2c74433;
}

.edit-message-textarea{
    width: 100%;
    border: none;
    padding: 10px;
}
.edit-message-textarea:focus{
    outline: 0;
}
.edit-cancel-msg-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px 5px 0;
}

.save-edit-btn{
    padding-left: 10px;
}

.save-edit-btn{
    border-radius: 4px;
}

.remove-message-style{
    text-decoration: line-through;
}

.delete-check:hover{
    color: green;
    
}
.cancel-cross:hover{
    color: red;
}
#edit-msg-btn  {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #007a5a;
    box-shadow: none;
    color: #fff;
    font-weight: 700;
    transition: all 80ms linear;
    font-size: 13px;
    height: 28px;
    min-width: 56px;
    padding: 0 12px 1px;
    -webkit-tap-highlight-color: transparent;
}

#cancel-msg-btn{
    cursor: pointer;
    border-radius: 4px;
    --saf-0: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.3);
    background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
    background-clip: padding-box;
    border: 1px solid var(--saf-0);
    font-weight: 700;
    transition: all 80ms linear;

    font-size: 13px;
    height: 28px;
    min-width: 56px;
    padding: 0 12px 1px;
}