.wa-form-container {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 325px;
    margin-top: 100px;
    font-size: 15px;
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
}

.wa-form-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-wa-buttons {
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        /* justify-content: center; */
        height: 100px;
}

.create-input-container{
    height: 25px;
}

.create-input {
    border: none;
    background-color: rgba(97, 95, 95, 0.3);
    color: rgb(98, 2, 103);
    
    padding: 3px 5px;
        /* margin: 8px 0; */
        box-sizing: border-box;
    border-bottom: rgb(76, 9, 93);
}
.create-input::placeholder{
    color: white;
}

.btn-spacing {
    padding: 0,0,4;
}

.btn-style {
    font-size:larger;
    color: rgb(64, 61, 61);
}

.btn-style:hover {
    text-decoration: underline;
    color: rgb(32, 3, 58);
    cursor: pointer;
}
    