.wa-selection-container{
    /* position: fixed;
    left: 50%;
    top: 30%; */

    /* transform: translate(-50%, -50%); */
    /* background-color: aliceblue; */
    /* height: 100%; */
    /* width: 100%; */
    min-width: 500px;
    max-width: 50%;
    border: none;
    /* border: 0.5px solid rgb(159, 135, 159); */
    border-radius: 4px;
    /* background-color: rgb(129, 53, 129); */
    font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
    font-size: 15px;
    /* opacity: 1; */
    transition: transform .1s, opacity .1s;
    /* background-color: white; */
    background-color: transparent;
    color: #1d1c1d;
    font-variant-ligatures: common-ligatures;
    margin-bottom: 250px;
}



.screen-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3F0E40;
}

.selection-title {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
        
}

.selection-title h1 {
    color: white;
    font-family: "Slack-Lato-bold";
}


#color-gradient{
    font-size: 50px;
    background: linear-gradient(45deg, rgb(37, 161, 199) 25%, rgb(215, 198, 12) 50%, rgb(215, 12, 93) 80%, rgb(39, 201, 25) 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: repeat;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

#margin-left{
    margin-left: 10px;
}
