.extra-padding{
    padding-bottom: 1px;
}

#extra-btm-marign{
    margin-bottom: 3px;
}


#size-override{
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    border-radius: 4px;

}

#group-icon {
    margin-right: 5px;
}