.pod-span-ele-active {
    background-color: #1164A3;
}
.pod-element{
    margin-right: 0;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 234px;
    height: 30px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#pod-span-ele:hover {
    cursor: pointer;
}

#pod-span-ele {
    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

#lock-hash-icon{
    height: 0.73em;
    
    /* width: 1em;
        height: 1em; */
}

#hash-icon-only{
    height: 0.73em;
    font-style: italic;
}